---
layout: base.njk
title: Homepage
---

<!-- Hero section -->
<div
  class="section-lg bg-image bg-image-gradient-top"
  data-bg-src="../assets/images/background.jpg"
>
  <div class="bg-white-06">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
          <h1 class="font-weight-extra-light line-height-150 margin-bottom-20">
            {{ home.headerTitle }}
          </h1>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor. Aenean massa. Cum sociis natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p>
          <a
            class="button button-lg button-radius button-dark margin-top-40"
            href="#"
            >Contact us</a
          >
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
</div>
<!-- end Hero section -->

<!-- Services section -->
<div class="section padding-top-0">
  <div class="container">
    <div class="row icon-5xl">
      <div class="col-12 col-lg-4">
        <div class="border-all padding-40">
          <i class="ti-briefcase text-dark"></i>
          <h5 class="font-weight-normal margin-top-20">Professional</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="border-all padding-40">
          <i class="ti-settings text-dark"></i>
          <h5 class="font-weight-normal margin-top-20">Experienced</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="border-all padding-40">
          <i class="ti-face-smile text-dark"></i>
          <h5 class="font-weight-normal margin-top-20">Connected</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end Services section -->

<!-- Parallax section -->
<div
  class="section-2xl bg-image parallax"
  data-bg-src="../assets/images/background.jpg"
>
  <div class="bg-black-04">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6">
          <h1 class="font-weight-extra-light line-height-150">
            Youtube &amp; vimeo lightbox <br />
            video player
          </h1>
        </div>
        <div class="col-12 col-md-6 text-md-right">
          <a
            class="
              button-circle
              button-circle-xl
              button-circle-white-3
              button-circle-animation-drop
              lightbox-media-link
            "
            href="https://www.youtube.com/watch?v=W-j4QGAgNu8"
            ><i class="fa fa-play"></i
          ></a>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
</div>
<!-- end Parallax section -->

<!-- Clients section -->
<div class="section border-top">
  <div class="container">
    <div class="margin-bottom-70">
      <div class="row text-center">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <h2 class="font-weight-light">Our Trusted Clients</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis
            natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus.
          </p>
        </div>
      </div>
    </div>
    <ul class="clients-grid column-5">
      <li>
        <a href="#"><img src="../assets/images/col-5.jpg" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="../assets/images/col-5.jpg" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="../assets/images/col-5.jpg" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="../assets/images/col-5.jpg" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="../assets/images/col-5.jpg" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="../assets/images/col-5.jpg" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="../assets/images/col-5.jpg" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="../assets/images/col-5.jpg" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="../assets/images/col-5.jpg" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="../assets/images/col-5.jpg" alt="" /></a>
      </li>
    </ul>
  </div>
  <!-- end container -->
</div>
<!-- end Clients section -->
